h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: lightyellow;
    }
body{
    margin: 0;
    padding: 0;
    background: rgb(105, 126, 165);
}

ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: contents;
    margin-top: 10px;
    
    
}

li{
    
    display: flex;
    flex-grow: initial;
    border-radius: 24px;
    border: solid;
    align-items: center;
    margin: auto;
    
}


img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#pokedex{
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    
}
li{
    margin-top: 10px;
    transition: 0.6s;
    border: none;
    
}



li:hover {
    border-radius: 60px;
    width: 170px;
    height: 170px;
    background-image: linear-gradient(to top, #33F5FF, #16D1DB, #07888F);
    
  }



